.flex-navbar{
    display: flex;
}

.flex-navbar > div {
    flex: 1;
    text-align: center;
    background-color: grey;
    margin: 2px;
    height: 100px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.featured-articles{
    position: relative;
    display: flex;
}

.featured-articles > div:nth-last-of-type(1){
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    top: 5%;
    left: 46.5%;
}

.article-preview{
    flex: 1;
    background-color:grey;
    margin: 2px;
    padding-top: 15em;
    padding-bottom: 4em;
}

.article-preview > h2 {
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
}

.article-preview > p {
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.smashing-membership {
    padding: 4em 5em 2em 4em;
    background-color: grey;
}

.latest-articles{
    display: flex;
}

.last-article{
    flex:1;
    margin: 2px;
    background-color:grey;
}

.last-article > header > h2 {
    font-size: 26px;
}

.smashing-members{
    display: flex;
}

.smashing-members > div{
    flex: 1;
    margin: 2px;
    background-color: grey;
}

.smashing-members > div > * {
    float: left;
    width: 100%;
    text-align: center;
}

.smashing-members > div > span {
    font-size: 48px;
}

.smashing-members > div > a {
    font-size: 32px;
}

.smashing-members > div > p {
    font-size: 18px;
}

.smashing-members > div > div > button {
    width: 150px;
}

.smashing-members > .smashing-image{
    flex:2;
}

.incluse-components {
    padding: 1em;
    text-align: center;
    background-color: gray;
}

.inclusive-components h2,
.incluse-components header,
.incluse-components p {
    text-align: center;
}

.incluse-components > * {
    margin: 3em;
}
.incluse-components > .inclusive-img {
    height: 366px;
    width: 366px;
    background-color: white;
    margin: 0 auto;
}
