.flex-navbar{
    display: flex;
}

.flex-navbar > div {
    flex: 1;
    text-align: center;
    background-color: grey;
    margin: 2px;
    height: 100px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.featured-articles{
    position: relative;
    display: flex;
}

.featured-articles > div:nth-last-of-type(1){
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    top: 5%;
    left: 46.5%;
}

.article-preview{
    flex: 1;
    background-color:grey;
    margin: 2px;
    padding-top: 15em;
    padding-bottom: 4em;
}

.article-preview > h2 {
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
}

.article-preview > p {
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.smashing-membership {
    padding: 4em 5em 0 4em;
}